*{
	ffborder: 1px dotted red;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}
.wrapper{
	width: 1024px;
	min-height: 800px;
	background-color: #EEEEEE;
}
.col0{
    width: 47px;
    height: 391px;
    position: absolute;
    display: inline-block;
}
.num0{
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 2px 0px 2px 0px;
}
.num0 p{
    font-size: 12px;
    padding-top: 10px;
    color: red;
}
.linea0{
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 2px 0px 2px 0px;
    color: red;
}
.linea0 p{
    padding-top: 15px;
    font-size: 12px;
}
.col1{
	width: 47px;
    height: 391px;
    display: inline-block;
    margin-left: 52px;
}
.lineaazul{
	width: 45px;
	height: 45px;
	text-align: center;
	background-color: #689BFF;
	margin: 2px 0px 2px 0px;
}
.lineaazul p{
	font-size: 8px;
	padding: 2px;
}
.lineaazul span{
    color: #1D13A7;
    font-size: 20px;
}
.col2{
    width: 47px;
    height: 391px;
	display: inline-block;
	margin-left: -3px;
}
.col3{
    width: 47px;
    height: 391px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    margin-top: 0px;
}
.linearosa{
	width: 45px;
	height: 45px;
	text-align: center;
	background-color: #FD9A98;
	margin: 2px 0px 2px 0px;
}
.linearosa span{
    color: #1D13A7;
    font-size: 20px;
}
.linearosa p{
    font-size: 8px;
    padding: 2px;
}
.lineaverde{
	width: 45px;
	height: 45px;
	text-align: center;
	background-color: #1FCA21;
	margin: 2px 0px 2px 0px;
}
.lineaverde span{
    color: #1D13A7;
    font-size: 20px;
}
.lineaverde p{
    font-size: 8px;
    padding: 2px;
}
.col4{
    width: 47px;
    height: 391px;
    display: inline-block;
    margin-left: 58px;
    position: absolute;
}
.col5{
    display: inline-block;
    margin-left: 106px;
    position: absolute;
}
.col6{
    display: inline-block;
    margin-left: 154px;
    position: absolute;
}
.col7{
    display: inline-block;
    margin-left: 202px;
    position: absolute;
}
.col8{
    display: inline-block;
    margin-left: 250px;
    position: absolute;
}
.col9{
    display: inline-block;
    margin-left: 298px;
    position: absolute;
}
.col10{
    display: inline-block;
    margin-left: 346px;
    position: absolute;
}
.col11{
    display: inline-block;
    margin-left: 394px;
    position: absolute;
}
.col12{
    display: inline-block;
    margin-left: 442px;
    position: absolute;
}
.lineaamarilla{
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: #FECB00;
    margin: 2px 0px 2px 0px;
}
.lineaamarilla p{
    font-size: 8px;
    padding: 2px;
}
.lineaamarilla span{
    color: #1D13A7;
    font-size: 20px;
}
.col13{
    display: inline-block;
    margin-left: 490px;
    position: absolute;
}
.col14{
    display: inline-block;
    margin-left: 538px;
    position: absolute;
}
.col15{
    display: inline-block;
    margin-left: 586px;
    position: absolute;
}
.col16{
    display: inline-block;
    margin-left: 634px;
    position: absolute;
}
.col17{
    display: inline-block;
    margin-left: 682px;
    position: absolute;
}
.col18{
    display: inline-block;
    margin-left: 730px;
    position: absolute;
}
.lantanidos{
    font-size: 12px;
    color: red;
    margin: 30px 0px 12px 57px;s
}
.lantanidos span{
    margin-left: 26px;
}